<% if @allowed %>
<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<h2>Choose a file from your computer</h2>

<div id="multiple">You can choose more than one file if you want.</div>

<%= s3_uploader_form callback_url: uploads_path, callback_param: "upload[url]", id: "uploader" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>
<% else %>
<p>It looks like you ended up here by mistake.</p>
<% end %>
